

<!DOCTYPE html>
<html>
<body>
    
<style>


<style>
.articles {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}



p#special {
    background-color:black;
    color:white;
}

body {background-color:white; font-family:courier; text-align:center}
h1   {color:black}
p    {color:black}
</style>


<h1>This is the About page with ruby on rails!</h1>

<h1 style="font-size:90px" >Alpha Blog</h1>
<%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %><a> </a> <a href="http://www.kaanozdemir.me/wp">This is a link</a>



<div class="articles">
<p id="special",  title="I'm a tooltip">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor libero, rhoncus vitae lobortis sed, egestas vel eros. Aenean suscipit rutrum odio, et posuere mauris luctus vel. Curabitur sit amet quam sit amet lacus ultricies placerat vitae ut libero. Donec ipsum massa, malesuada non odio et, fermentum pulvinar sapien. Praesent interdum aliquet nisl, sed scelerisque augue auctor quis. Proin luctus augue nec leo sollicitudin gravida. Nunc sit amet venenatis nulla.
</p>
</div>

<div class="articles">
    <p id="special",  title="I'm a tooltip">
    consectetur adipiscing elit. Aliquam tortor libero, rhoncus vitae lobortis sed, egestas vel eros. Aenean suscipit rutrum odio, et posuere mauris luctus vel. Curabitur sit amet quam sit amet lacus ultricies placerat vitae ut libero. Donec ipsum massa, malesuada non odio et, fermentum pulvinar sapien. Praesent interdum aliquet nisl, sed scelerisque augue auctor quis. Proin luctus augue nec leo sollicitudin gravida. Nunc sit amet venenatis nulla.
    </p>

</div>

<img link_to image_tag('Robot_icon.svg.png') alt= 'http://www.kaanozdemir.me/wp' width="135" height="50">
<%= link_to image_tag('Robot_icon.svg.png'), 'http://www.kaanozdemir.me/wp' %>






<h1>This is the homepage with ruby on rails!</h1>
<iframe src="http://kaanozdemir.me/wp" width="500"></iframe>
<iframe src="http://kaanozdemir.me/wp"></iframe>


<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 50 years, WWF has been protecting the future of nature.The world's leading conservation organization,
WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
</blockquote>
</body>
</html>

