

<!DOCTYPE html>
<html>
<body>
    
<style>


<style>
.articles {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}



p#special {
    background-color:black;
    color:white;
}

body {background-color:white; font-family:courier; text-align:center}

</style>


<div class="center jumbotron">
  <h1>Hello, friend!</h1>
  <p>...</p>
  <%= link_to "Sign up now!", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>


</body>
</html>

