$navbar-default-bg: #007E33;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight:bold;
    font-family:courier;
}



#logo:hover {
    color: #fff;
    text-decoration: none;
}


.navbar-default {
    background-color: #007E33;
    border-color: #fff;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #43a047;
}


.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #43a047;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #43a047;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}













.center {
    text-align: center;
}
.jumbotron{
    background-image: asset-url('jumbotronbackground');
    background-size: cover;
    height:550px;
    
}
.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn-xlarge{
    font-size: 1.7em;
    background-color: #007E33;
    border: none;
}

footer {
  
    margin-top:45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    
}
footer a:hover {
    color: #222;
}

footer small {
    float: middle;
}

footer ul {
    float: middle;
    list-style: none;
    
}